@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .brutal-grid-bg {
    background-image: radial-gradient(rgba(255, 255, 255, 0.12) 1px, transparent 1px);
    background-size: 24px 24px;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #0a0a0c;
  color: #ffffff;
  margin: 0;
}
